@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600&family=Poppins:ital,wght@0,200;0,300;1,200;1,400&family=Raleway:wght@100;200;400;700&family=Roboto:wght@100;300;400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;

}
body{
    background: linear-gradient(143deg, #E3EDFC,  #8399b4 );
}
.container{
    display: flex;
    justify-content: center;
    
}

.audio-container{
    /* display:flex ; */
    justify-content: center; 
    width: 320px;
    height: 450px;
    padding: 40px 25px;
    margin: 60px 0;
    background-image: linear-gradient(143deg, #E3EDFC,  #8399b4 );
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  23px 23px 21px #c5c5c5,
             -23px -23px 21px #fbfbfb;
}
.audio-container .title{
    /* display: flex; */
    text-align: center;
    justify-content: center;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    margin-top: 0;
}
.image-container{
    text-align: center; 
}
.image-container img{
    width: 200px;
    height: 200px;
    padding:10px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #Fff;
    box-shadow: 
    inset 0 0 15px rgba(55, 84, 170,0),
    inset 0 0 20px rgba(255, 255, 255,0),
    7px 7px 15px rgba(55, 84, 170,.15),
    -7px -7px 20px rgba(255, 255, 255,1),
    inset 0px 0px 4px rgba(255, 255, 255,.2);
    animation: rotate 3s linear infinite;
    animation-play-state: paused;
    animation: circle 3s linear infinite;
    animation-play-state: paused;
}

.audio-container.play .image-container img{
    animation-play-state: running;
    
}

.progress_box{
    background-color: rgb(35, 93, 210);
    border-radius: 5px;
    width: 100%;
    height: 4px;
    margin: 40px 0 25px;
}
.progress_box .progress{
    background-color: #fff;
    height: 100%;
    width: 0;
    transition: 0.1 linear;
}
.navigation{
    text-align: center;
}
.btn{
    
    justify-content: center;
    border: none;
    border-radius: 50px;
    padding: 10px 10px;
    background-color: rgb(46, 132, 202);
    color: #8399b4;
    font-size: 1rem;
    font-weight: 700;
    /* box-shadow: 7px -7px 14px #cbced1,
    -7px 7px 14px #fff; */
    border-radius: 97px;
    background: #fafafa;
    box-shadow:  20px 20px 18px #dadada,
             10px 10px 18px #ffffff;
    cursor: pointer;
    outline: none;
    margin: 10px;
    cursor: pointer;
    outline: none;
}

.btn:nth-child(2){
    background-color: #576ae3;
    color: #fff;
}

@keyframes circle{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}